<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDLApps.Properties.Settings.ViewsConnection" connectionString="Data Source=NQAC-PC\NQAC;Initial Catalog=QLVT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CSDLApps.Properties.Settings.QLVTConnectionString_CN1" 
             connectionString="Data Source=NQAC-PC\NQAC_01;Initial Catalog=QLVT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="CSDLApps.Properties.Settings.QLVTConnectionString_CN2"
            connectionString="Data Source=NQAC-PC\NQAC_02;Initial Catalog=QLVT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>